# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# production
/build

# local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor
.vscode
.idea
